<!DOCTYPE html>
<html>
  <head>
    <title>Product List</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="container-fluid">
      <section class="row">
        <section class="col-8 m-auto">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th width="10%">Sr.No</th>
                <th width="45%">Name</th>
                <th width="15%">Price</th>
                <th width="10%">Rating</th>
                <th width="20%">Review Count</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</td>
                <td>Rs.109.95 /-</td>
                <td>3.9</td>
                <td>120</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Mens Casual Premium Slim Fit T-Shirts</td>
                <td>Rs.22.3 /-</td>
                <td>4.1</td>
                <td>259</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Mens Cotton Jacket</td>
                <td>Rs.55.99 /-</td>
                <td>4.7</td>
                <td>500</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Mens Casual Slim Fit</td>
                <td>Rs.15.99 /-</td>
                <td>2.1</td>
                <td>430</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  John Hardy Women's Legends Naga Gold &amp; Silver Dragon
                  Station Chain Bracelet
                </td>
                <td>Rs.695 /-</td>
                <td>4.6</td>
                <td>400</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Solid Gold Petite Micropave</td>
                <td>Rs.168 /-</td>
                <td>3.9</td>
                <td>70</td>
              </tr>
              <tr>
                <td>7</td>
                <td>White Gold Plated Princess</td>
                <td>Rs.9.99 /-</td>
                <td>3</td>
                <td>400</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Pierced Owl Rose Gold Plated Stainless Steel Double</td>
                <td>Rs.10.99 /-</td>
                <td>1.9</td>
                <td>100</td>
              </tr>
              <tr>
                <td>9</td>
                <td>WD 2TB Elements Portable External Hard Drive - USB 3.0</td>
                <td>Rs.64 /-</td>
                <td>3.3</td>
                <td>203</td>
              </tr>
              <tr>
                <td>10</td>
                <td>SanDisk SSD PLUS 1TB Internal SSD - SATA III 6 Gb/s</td>
                <td>Rs.109 /-</td>
                <td>2.9</td>
                <td>470</td>
              </tr>
              <tr>
                <td>11</td>
                <td>
                  Silicon Power 256GB SSD 3D NAND A55 SLC Cache Performance
                  Boost SATA III 2.5
                </td>
                <td>Rs.109 /-</td>
                <td>4.8</td>
                <td>319</td>
              </tr>
              <tr>
                <td>12</td>
                <td>
                  WD 4TB Gaming Drive Works with Playstation 4 Portable External
                  Hard Drive
                </td>
                <td>Rs.114 /-</td>
                <td>4.8</td>
                <td>400</td>
              </tr>
              <tr>
                <td>13</td>
                <td>
                  Acer SB220Q bi 21.5 inches Full HD (1920 x 1080) IPS
                  Ultra-Thin
                </td>
                <td>Rs.599 /-</td>
                <td>2.9</td>
                <td>250</td>
              </tr>
              <tr>
                <td>14</td>
                <td>
                  Samsung 49-Inch CHG90 144Hz Curved Gaming Monitor
                  (LC49HG90DMNXZA) – Super Ultrawide Screen QLED
                </td>
                <td>Rs.999.99 /-</td>
                <td>2.2</td>
                <td>140</td>
              </tr>
              <tr>
                <td>15</td>
                <td>
                  BIYLACLESEN Women's 3-in-1 Snowboard Jacket Winter Coats
                </td>
                <td>Rs.56.99 /-</td>
                <td>2.6</td>
                <td>235</td>
              </tr>
              <tr>
                <td>16</td>
                <td>
                  Lock and Love Women's Removable Hooded Faux Leather Moto Biker
                  Jacket
                </td>
                <td>Rs.29.95 /-</td>
                <td>2.9</td>
                <td>340</td>
              </tr>
              <tr>
                <td>17</td>
                <td>
                  Rain Jacket Women Windbreaker Striped Climbing Raincoats
                </td>
                <td>Rs.39.99 /-</td>
                <td>3.8</td>
                <td>679</td>
              </tr>
              <tr>
                <td>18</td>
                <td>MBJ Women's Solid Short Sleeve Boat Neck V</td>
                <td>Rs.9.85 /-</td>
                <td>4.7</td>
                <td>130</td>
              </tr>
              <tr>
                <td>19</td>
                <td>Opna Women's Short Sleeve Moisture</td>
                <td>Rs.7.95 /-</td>
                <td>4.5</td>
                <td>146</td>
              </tr>
              <tr>
                <td>20</td>
                <td>DANVOUY Womens T Shirt Casual Cotton Short</td>
                <td>Rs.12.99 /-</td>
                <td>3.6</td>
                <td>145</td>
              </tr>
            </tbody>
          </table>
        </section>
      </section>
    </section>
  </body>
</html>
